# Prerequisites
*.d


# Object files
*.o
*.so
*.ko
*.obj
*.elf
*.class
*.dll

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

#忽略IDE和编辑器生成的文件
.idea/
.vscode/
/.swp
DebugConfig/
Listings/
Objects/

#忽略日志文件和调试文件
*.log
.pdb
.json

#忽略敏感信息文件
passwords.txt
private_key.pem
